body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #720303;
}

nav {
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.welcome-message {
    color: yellow; /* Change to the desired color */
    font-weight: bold; /* Optional: make the text bold */
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.subjects {
    flex: 2;
    margin-right: 20px;
}

.subject-block {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subject-block h3 {
    margin-top: 0;
}

.todo {
    flex: 1;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #030303;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    bottom: 0;
    width: 100%;
}
